<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" href="../css/main.css">
  <link rel="shortcut icon" href="../assets/images/favicon.ico" type="image/x-icon">
  <title>Dark Weather</title>
</head>

<body>
  <div class="opacity">
    <section class="box-weather text-center d-flex align-items-center justify-content-center">
      <div class="">
        <img class="icon-weather" src="" alt="">
        <h2 class="temperature mb-3"></h2>
        <div class="container">
          <div class="row">
            <div class="col-6">
              <p class="text-info font-w3">Wind</p>
            </div>
            <div class="col-6" id="wind">...</div>
          </div>
          <div class="row">
            <div class="col-6">
              <p class="text-info font-w3">Summary</p>
            </div>
            <div class="col-6" id="summary">...</div>
          </div>
          <div class="row">
            <div class="col-6">
              <p class="text-info font-w3">Humidity</p>
            </div>
            <div class="col-6" id="humidity">...</div>
          </div>
          <div class="row">
            <div class="col-6">
              <p class="text-info font-w3">UV Index</p>
            </div>
            <div class="col-6" id="uv-index">...</div>
          </div>
          <div class="row">
            <div class="col-6">
              <p class="text-info font-w3">Pressure</p>
            </div>
            <div class="col-6" id="pressure">...</div>
          </div>
        </div>
      </div>
    </section>
    <div class="text-center">
      <button class=" btn open-week btn-info">Wheater of the Week</button>
    </div>

  </div>

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="../js/app-today.js"></script>
</body>

</html>